<div class="action-bar opacity-hover">
  <div class="new">
    <a href="/topics/new" class="new faux-button">New Topic</a>
  </div>

  <%== erb :'components/search_box' %>

  <%== erb :'components/pagination_options' %>
</div>
