<form method="get" action="/search" class="search">
  <input type="text" name="query" class="search" placeholder="Search topics" value="<%= @query %>">
  <button type="submit" class="search">Search</button>
</form>
