<% content_for :head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script id="topicTableTempl" type="text/x-handlebars">
      {{#each topics}}
        {{>topicTempl}}
      {{/each}}
  </script>

  <script id="topicTempl" type="text/x-handlebars">
      <table class="topic-listing">
        <tr class="topic-listing">
          <td class="subject-and-meta">
            <a class="subject_link" href="/topics/{{id}}">
              {{subject}}
            </a>

            <div class="time-posted">
              Posted ago by
              <a class="username_link" href="/users/{{username}}">
                {{username}}
              </a>
            </div>
          </td>

          <td class="count-replies">
            <div class="count-replies">
              {{count_replies}}
            </div>
          </td>
        </tr>
      </table>
  </script>

  <script id="paginationLinksTempl" type="text/x-handlebars">
      {{#if previous}}
        <li class="pages">
          <a href="{{previous}}" class="opacity-hover">Previous</a>
        </li>
      {{/if}}

      <li class="pages">
        <div id="current-page">{{current_page}}</div>
      </li>

      {{#if next}}
        <li class="pages">
          <a id="next" href="{{next}}" class="opacity-hover">Next</a>
        </li>
      {{/if}}
  </script>

  <script src="/javascripts/topics_generator.js" type="application/javascript"></script>

  <script src="/javascripts/api_home.js" type="application/javascript"></script>

<% end %>

<a id="get-topics" href="/api/topics" class="faux-button">Get topics</a>
<table class="topics-list-headers">
  <thead>
    <tr class="topics-list-headers">
        <th class="topic"><div class="header-text">Topic</div></th>
        <th class="count-replies"><div class="header-text">Replies</div></th>
        <th class="latest-activity"><div class="header-text">Activity</div></th>
        <th class="edit-col"></th>
    </tr>
  </thead>
</table>
<div id="topics-list">
</div>

<ul id="pagination-pages" class="page-list opacity-hover"></ul>
